@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Great Vibes', cursive;
}

html, body {
    height: 100%;
    background: #f9f5ed;
}

.container {
    margin: 0 auto;
    padding: 0 2%;
}

header {
	background-image: url(midia/foto15.jpeg);
    backdrop-filter: blur(5px);
	width: 100%;
	height: 100%;
	background-position: center;
    background-position-y: -250px;
	background-repeat: no-repeat;
	background-size: cover;
}

header .container {
    padding: 0;
}

header .container .chamada1 {
    backdrop-filter: blur(5px);
    text-align: center;
    height: 100vh;
    padding-top: 40vh;
    font-size: 40px;
    color: #fff;
}

header .container .chamada1 h2 {
    font-size: 35px
}

section.texto1 {
    position: relative;
    max-width: 50vw;
    width: 100%;
    height: auto;
    padding: 30px 20px;
    background-color: #fff;
    margin: -40px auto 0 auto;
    z-index: 999;
    font-size: 25px;
}

section.texto1 p {
    font-family: 'open sans', sans-serif;
    font-size: 17px;
    line-height: 1.5em
}

@media screen and (max-width: 1200px) {
    header .container .chamada1 {
        padding-top: 20vh;
    }
}

@media screen and (max-width: 900px) {
    header {
        background-position-y: -100px;
    }
    section.texto1 {
        max-width: 80vw;
        margin: -150px auto 0 auto;
    }

    header .container .chamada1 {
        padding-top: 150px;
        height: 600px !important; 
    }

    header .container .chamada1 {
        font-size: 25px;
    }
    
    header .container .chamada1 h2 {
        font-size: 20px;
    }
}