@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background: #f9f5ed;
}

.container {
    margin: 0 auto;
    padding: 0 2%;
}

header {
	background-image: url(midia/foto15.jpeg);
	width: 100%;
	height: 100%;
	background-position: center;
    background-position-y: -250px;
	background-repeat: no-repeat;
	background-size: cover;
}

header .container {
    padding: 0;
}

header .container .chamada1 {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    text-align: center;
    height: 100vh;
    padding-top: 40vh;
    font-size: 40px;
    color: #fff;
    font-family: 'Great Vibes', cursive;
}

header .container .chamada1 h2 {
    font-size: 35px
}

.grid {
    display: flex;
    position: relative;
    height: auto;
    width: 80vw;
    background-color: #fff;
    padding: 40px;
    margin: 30px auto;
}

.grid .text {
    width: 50%;
}

.grid .img {
    width: 50%;
    text-align: center
}

.grid .img img {
    max-width: 500px;
    width: 100%;
    margin-top: 10px;
}

.grid .text h1 {
    font-size: 35px;
    font-family: 'Great Vibes', cursive;
}

.grid .text p {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5em;
    padding-right: 20px;
    margin-top: 15px;
}

section.texto1 {
    position: relative;
    max-width: 50vw;
    width: 100%;
    height: auto;
    padding: 30px 20px;
    background-color: #fff;
    margin: -40px auto 0 auto;
    z-index: 999;
    font-size: 25px;
}

section.texto1 h1 {
    font-family: 'Great Vibes', cursive;
}

section.texto1 p {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    line-height: 1.5em
}

section.player {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; 
    font-family: 'Arial', sans-serif !important; 
}

section.player .container .details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
}

section.player .container .details .trackImg {
    width: 150px;
    height: 150px;
    margin: 10px;
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
    border-radius: 30px;
    background-size: cover;
    background-position: center;
}

.trackName {
    font-size: 2.5rem;
    text-align: center;
    font-family: 'Great Vibes', cursive;
}
   
  .trackArtist {
    font-size: 1.2rem;
    font-family: 'Great Vibes', cursive;
}


section.player .container .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.prevTrack,
.playpauseTrack,
.nextTrack {
    padding: 10px;
    opacity: .8;
    transition: all 0.2s ease-in-out;
}

.prevTrack:hover,
.playpauseTrack:hover
.nextTrack:hover {
    opacity: 1;
}

section.player .container .sliderContainer {
    display: flex;
    width: 75%;
    max-width: 400px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.seekSlider, .volumeSlider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: black;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.seekSlider::-webkit-slider-thumb,
.volumeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
}

.currentTime, .totalDuration {
    padding: 10px;
}

.fa-volume-down, .fa-volume-up {
    padding: 10px;
}

section.listMusic {
    font-family: 'Open Sans', sans-serif;
    margin: 50px 0;
}

section.listMusic .container h1 {
    text-align: center;
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
}

section.listMusic .container h3 {
    text-align: center;
    margin-bottom: 20px;
}

section.listMusic .container .flexList {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

section.listMusic .container .flexList div {
    display: flex;
    margin-bottom: 10px;
}

section.listMusic .container .flexList .tracklistImg {
    width: 50px;
    height: 50px;
    background-size: cover;
}

section.listMusic .container .flexList .tracklistName {
    padding: 16px 5px 16px 10px;
    background-color: #dfd9cc;
}

section.listMusic .container .flexList .tracklistArtist {
    margin-right: 10px;
    padding: 16px 10px 16px 0;
    background-color: #dfd9cc;
    
}

@media screen and (max-width: 1200px) {
    header .container .chamada1 {
        padding-top: 20vh;
    }
}

@media screen and (max-width: 900px) {
    header {
        background-position-x: -400px;
    }
    section.texto1 {
        max-width: 80vw;
        margin: -150px auto 0 auto;
        position: relative;
        width: 100%;
        height: auto;
        padding: 30px 20px;
        background-color: #fff;
        z-index: 999;
        font-size: 25px;
    }

    header .container .chamada1 {
        padding-top: 150px;
        height: 600px !important; 
    }

    header .container .chamada1 {
        font-size: 25px;
    }
    
    header .container .chamada1 h2 {
        font-size: 20px;
    }

    .grid {
        flex-direction: column;
    }

    .grid .text {
        width: 100%;
    }

    .grid .text p {
        padding-right: 0;
    }

    .grid .img {
        width: 100%;
    }
}